.input {
    display: flex;
    width: 30%;
    align-items: center;
    /* position: relative; */
}

.input__text {
    width: 100%;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 5px black;
}

.submit__button {
    /* position: absolute; */
    width: 60px;
    height: 50px;
    background-color: #2f74c0;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -60px;
    border-width: 0px;
}

.todos__single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
}

.todo__text {
    font-size: 20px;
}

.icons__wrapper {
    display: flex;
    gap: 5px;
}

.icon {
    cursor: pointer;
    font-size: 20px;
}